<% content_for :page_title, strip_tags(@site_name.content.body).squish %>

<div class='content index'>
  <div class='inner'>
    <div class='left'>
      <div class='governor_message'>
        <%= render_partial_for_region(@governor_message) %>
      </div>
      <%= render_partial_for_region(@news, 'main_page') %>
    </div>
    <div class='right'>
    </div>
  </div>
</div>
