<h1>Повестки и протоколы заседаний экспертных советов</h1>
<% if @right_side_navigation %>
  <div class='left index'>
    <%= render :partial => 'regions/meeting_list_protocols' %>
  </div>
  <div class='right'>
    <%= render :partial => 'regions/right_side' %>
  </div>
<% else %>
  <%= render :partial => 'regions/meeting_list_protocols' %>
<% end %>
