.blue_pages
  +clearfix

  .left

    li
      +clearfix
      position: relative
      border-bottom: 2px solid #f7f7f7
      margin-top: 10px
      margin-bottom: 20px
      padding-bottom: 20px

      &:after
        content: ' '
        display: block
        width: 100%
        position: absolute
        bottom: 0
        left: 0
        background-color: #f7f7f7
        border-bottom: 1px dotted #7f7f7f
        padding-bottom: 2px

      &:last-child
        border: none
        margin-bottom: 10px
        padding-bottom: 0

        &:after
          content: ''
          border: none
          background-color: transparent
          padding: 0

      .image
        float: left
        border: 1px solid #cfcfcf
        margin: 0 10px 0 0

      .person
        font-size: 18px
        margin-bottom: 5px

      .title
        color: #7f7f7f

      .address,
      .phones,
      .emals
        margin-top: 5px

    .chief
      .image
        width: 130px
        height: 172px

    .member
      .image
        width: 80px
        height: 107px

  .show_chief
    +clearfix
    +single-box-shadow(#ccc, 0px, -3px, 10px, -1px)
    border: 1px solid #ccc
    display: block
    float: right
    margin: 0px 0 0 20px
    width: 217px

    .title
      +min-height(44px)
      display: table-cell
      font-size: 13px
      line-height: 16px
      padding: 15px 10px
      text-align: center
      vertical-align: middle
      width: 217px

    img
      display: block
      float: none
      margin: 0 auto

    .fio
      background: #ededed
      font-size: 16px
      line-height: 20px
      padding: 12px 10px 20px
      text-align: center

      .phones, .emails
        display: block
        font-size: 12px
        margin: 16px 0 0 0

    .small
      font-size: 11px

  .dossier
    ul, ol, p
      margin-bottom: 10px

    ul li
      +clearfix
      margin-bottom: 5px

      &:before
        display: block
        content: '\2013'
        float: left
        margin: 0 10px 0 0

      &:last-child
        margin-bottom: 0

  .information
    +clearfix
    border-bottom: 1px dotted #7f7f7f
    font-size: 13px
    margin-bottom: 15px

  .contacts
    +clearfix
    margin-bottom: 15px

    ul
      +clearfix

      li
        border-bottom: 1px solid #e0e0e0
        font-size: 13px
        line-height: 20px
        margin: 0 0 2px 0
        padding: 0 0 4px 0

        .label
          +inline-block
          font-weight: bold
          line-height: 20px
          width: 85px

  .employees
    +clearfix
    border-bottom: 1px dotted #7f7f7f
    margin-bottom: 15px

    li
      +clearfix
      margin-bottom: 15px

      .photo
        float: left
        margin: 0 10px 0 0

      span
        display: block
        float: left
        font-size: 13px
        line-height: 18px

      .fio
        float: none
        font-size: 16px
        margin: 0 0 5px 0

      .title
        float: none
        color: #666
        margin-bottom: 5px

      .phones
        margin: 0 15px 0 0

      .emails
        margin: 0 15px 0 0

  .regulation
    +clearfix
    float: right
    margin: 20px 0 0 20px
    text-align: center
    border: 1px solid #ccc
    background-color: #fff
    +background(linear-gradient(top, #fff, #f0f0f0))
    padding: 10px

    a
      background: image_url('office_doc.png') no-repeat top center
      display: block
      line-height: 18px
      padding: 90px 0 0 0
      width: 108px

  .subdivisions
    +clearfix

    h3
      margin: 0

    .subdivision_information
      padding: 15px 0 0 20px

    h4
      font-size: 14px
      font-weight: bold
      margin: 10px 0 25px

    li
      +clearfix
      margin-bottom: 10px

      &:last-child
        margin-bottom: 0

    .contacts
      span
        display: block
        font-size: 13px
        line-height: 15px

    .employees
      border: none
