<div class='protocols'>
  <h4>Предстоящие заседания</h4>
  <ul>
    <% unless @events.blank? %>
      <% @events.first(3).each do |e| %>
        <li>
          <div class='date'>
            <%= I18n.l(Time.zone.parse(e.dtstart.to_s), :format => '%d %B %Y %H:%M') %>
          </div>
          <div class='title'>
            <%= link_to e.summary, e.resources.first, :target => '_blank' %>
          </div>
          <div class='location'>
            <%= e.location %>
          </div>
        </li>
      <% end %>
    <% else %>
      <li>Нет актуальной информации</li>
    <% end %>
  </ul>
  <% if params["path"].present? && params["path"].split('/')[2].present? %>
    <p class ='calendar_link'><%= link_to 'Календарь заседаний', Calendar.calendar_url(params["path"].split('/')[2]), :target => "_blank" %></p>
  <% end %>
</div>
