<div class='protocols'>
  <h4>Повестки, протоколы</h4>
  <ul>
    <li>
      <div class='date'>04 февраля 2013</div>
      <div class='title'>Заседание №3 экспертного совета по научно-образовательному комплексу и инновационной политике «Здесь будет тема для заседания»</div>
      <ul class='attachments'>
        <li><a href='#'>Повестка на 3 заседание</a></li>
        <li><a href='#'>Протокол №ЭС8-Пр3 от 24.02.2013</a></li>
      </ul>
    </li>
    <li>
      <div class='date'>30 января 2013</div>
      <div class='title'>Заседание №2 экспертного совета по экономике «Тема второго заседания»</div>
      <ul class='attachments'>
        <li><a href='#'>Повестка на 2 заседание</a></li>
        <li><a href='#'>Протокол №ЭС5-Пр2 от 30.01.2013</a></li>
        <li><a href='#'>Материалы к заседанию ЭС от 30.01.2013</a></li>
      </ul>
    </li>
    <li>
      <div class='date'>10 января 2013</div>
      <div class='title'>Заседание №1 экспертного совета по территориальному развитию и взаимодействию с органами местного самоуправления «Итоги годовой работы и планы на перспективу»</div>
      <ul class='attachments'>
        <li><a href='#'>Повестка на 1 заседание</a></li>
        <li><a href='#'>Протокол №ЭС7-Пр1 от 10.01.2013</a></li>
      </ul>
    </li>
  </ul>
</div>
