<% if object.gallery_pictures.first.present? %>
  <div class='regulation'>
    <%= link_to object.gallery_pictures.first.try(:[], :picture_url), :class => extension(object.gallery_pictures.first.try(:[], :picture_url)) do %>
      <span class='icon'></span>
      <%= object.gallery_pictures.first.try(:[], :description) %>
    <% end %>
  </div>
<% end %>
