<h1><%= @page_title %></h1>
<div class='search_results'>
  <% if object.items.present? %>
  <ul>
    <% object.items.each do |item| %>
      <li>
        <h4><%= link_to item.title.to_s.as_html, item.url %></h4>
        <p><%= item.excerpt.to_s.as_html %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class='empty'>Нет результатов для заданных параметров</p>
  <% end %>
</div>

<% if object.pagination %>
  <% @array = object.items %>
  <% @array = Kaminari.paginate_array(@array, :total_count => object.pagination.total_count).page(object.pagination.current_page).per(object.pagination.per_page) %>
  <%= paginate @array, :outer_window => 3 %>
<% end %>
